#----------------------------------------------
# Variables
#----------------------------------------------
variable "masterVMsize" { default = "{{ master_vm_size }}" }
variable "infrainstancecount" { default = "{{ number_infra_nodes }}" }


masterVmSize:
  value: "$masterVMsize"
infraInstanceCount:
  value: "$infrainstancecount"
